* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.app {
  background: #1a1b21;
  max-width: 317px;
  height: 650px;
  margin-left: 50%;
  margin-block: 10px;
  border-radius: 10px;
}
.image {
  width: 317px;
  height: 230px;
  border-radius: 10px 10px 0px 0px;
  background-image: url(./assets/images/batman.jpg);
  background-size: cover;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > h2 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 19px;
}
.info > h3 {
  color: #f3bf99;
  font-size: 12.8px;
  font-weight: 400;
  margin-top: 4px;
}
.info > h4 {
  color: #f5f5f5;
  font-size: 10.24px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 13px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
}
.buttons > button {
  width: 115px;
  height: 34px;
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  color: var(--gray-700, #374151);
  border-radius: 6px;
  border: 1px solid;
  background: var(--white, #fff);
  margin-left: 35px;
}
.linkedin {
  background: #5093e2;
  border: 0px solid;
  color: #fff;
  margin-right: 35px;
}
.content {
  margin: 33px 34px 24px 35px;
}
.content h3 {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.content p {
  color: #dcdcdc;
  font-size: 10.24px;
  font-weight: 400;
  margin-bottom: 27px;
}
.footer {
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
